// colors : https://www.google.com/design/spec/style/color.html#color-color-palette

$font-cast-iron: cast_ironcondensed, arial, sans-serif;
$font-abel: abel_proregular, arial, sans-serif;
$font-abel-bold: abel_probold, arial, sans-serif;

$brandOrange:#f5a61c;

$black: #000;
$black80: #333333; //rgba(0,0,0,0.8);
$black60: rgba(0,0,0,0.6);
$black50: rgba(0,0,0,0.5);
$black40: rgba(0,0,0,0.4);
$black20: rgba(0,0,0,0.2);
$gray13: #212121;
$gray20: #303030; 
$gray28: #424242;
$gray32: #6b6b6b;
$gray50: #AFAFAF;
$gray75: #464646;
$gray7540: rgba(70, 70, 70, 0.4);

$white: #fff;
$white50: rgba(255,255,255,0.5);
$white25: rgba(255,255,255,0.25);
$darkerWhite: #eee;
$evendarkerwhite: #ccc;
$darkestwhite: #b1b1b1;

$red: #F44336;
$red80: rgba(244,67,54,0.8); 
$red60: rgba(244,67,54,0.6);
$red40: rgba(244,67,54,0.4);
$red20: rgba(244,67,54,0.2);
$red300:#FF5252;
$pink: #E91E63;
$lightBlue: #03A9F4;
$lightBlue80: rgba(3,169,244,0.8);
$lightBlue60: rgba(3,169,244,0.6);
$lightBlue20: rgba(3,169,244,0.2);
$lightBlue300: #4FC3F7;
$indigo: #3F51B5;
$yellow: #FFC107;
$yellow40: rgba(255, 193, 7,0.4);
$yellow60: rgba(255, 193, 7, 0.6);;
$yellow80: rgba(255,193,7,0.8);
$yellow300: #FFD54F;
$orange: #ff9800;
$orange40: rgba(255, 152, 0,0.4);
$orange300: #FFB74D;
$lightGreen: #8BC34A;
$lightGreen80: rgba(139,195,74,0.8);
$lightGreen300: #AED581;
$teal: #009688;
$purple: #D532F9;
$purple60: rgba(213, 50, 249, 0.6);
$purple40: rgba(213, 50, 249, 0.4);
$purple300: #dd5afa;
$deepPurple: #673AB7;
$green: green;
